.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: transparent;
}
.navbar-brand-centered h3{margin:0;margin-left: -30px;margin-top:-2px}
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }

.mail{
	margin-left: 20px;
    
}